nav{
    height: 100px;
}

.icon-logo{
    width: 50px;
}

.images{
    width: 230px;
}
.Poster{
    display: flex;
    justify-content: center;
    max-width: 400px;
   
}
.card{
    background-color: rgb(134, 90, 64);
    border-radius: 10px;
    padding-left: 10px;
    height:fit-content;
    transition: all 0.3s ease;
    
    

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: center;
  }

.star{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* .expand{
    cursor: pointer;
    float:right;
}

.card.expanded {
    z-index: 2;
    transform: scale(1.2);
    filter: brightness(1);
    width: 400px; 
    margin: 0 auto;
}
.card:not(.expanded) {
    filter: blur(2px) brightness(0.7);
  }

  {

  } */

  .nav{
    background-color: rgb(126, 78, 43);
  }
